/* GREEN COLOR: #88b06a */

/* ---------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

/* ---------------------------------------- */
/* REUSEABLE COMPONENTS */
/* ---------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.box {
    padding: 1%;
}

/* ------- HEADINGS ------- */

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #88b06a;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #88b06a;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ------- PARAGRAPHS ------- */

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ------- LINKS ------- */
a:link,
a:visited {
    color: #88b06a;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #5f794c;
}

/* ------- BUTTONS ------- */

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #88b06a;
    border: 1px solid #88b06a;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #88b06a;
    color: #88b06a;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #5f794c;
    border: 1px solid #5f794c;

}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #5f794c;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #5f794c;
    color: #fff;
}

/* ---------------------------------------- */
/* HEADER */
/* ---------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://www.gstatic.com/bfe/apps/website/img/h/90389597-pencil-tools-1440.jpg);
    background-size: cover;
    background-position: center;
    height: 75vh;
    background-attachment: fixed;
    margin-bottom: 10px;
    
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* MAIN NAV */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

/* ---------------------------------------- */
/* ABOUT */
/* ---------------------------------------- */

.section-about .long-copy {
    margin-bottom: 30px;
}

/* ---------------------------------------- */
/* TEAM */
/* ---------------------------------------- */
.section-team {
    margin-bottom: 30px;
}

/* ---------------------------------------- */
/* SERVICES */
/* ---------------------------------------- */

.section-services {
    padding: 0;
}

/* ---------------------------------------- */
/* REVIEW */
/* ---------------------------------------- */

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: relative;
    top: -5;
    left: -5px;
}